---
import Container from "./Container.astro";
import { Earth } from "@lucide/astro";
---

<header>
  <div
    class="max-w-[1440px] mx-auto px-5 md:px-[5%] py-5 flex justify-between items-center"
  >
    <a href="/"> <Earth size={32} /> <span class="sr-only">Home</span></a>
    <nav>
      <ul>
        <li>
          <a href="/countries">Countries</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
