---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="font-body bg-gray-50">
    <Header />
    <slot />
  </body>
</html>
